*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lib";
    src: url(Assets/Fonts/Uni\ Sans\ Thin\ Italic.otf);
}

#container{
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 90px;
    background-color: #ad6a34;
    width: fit-content;
    font-family: sans-serif;
}

#inputs{
    display: flex;
}

#inputs p{
    font-weight: bold;    
}

 h3{
    text-align: center;
    height: fit-content;
    font-family: 'lib', sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.44);
}

label p{
    margin: 0;
    width: fit-content;
    display: flex;
    /* position: absolute; */
}
label{
    margin-right: 30px;
}

.options input, .options select{
    display: block;
    margin-top: 40px;
    margin-right: 150px;
    margin-bottom: 20px;
    height: 40px;
    width: 400px;
    border: 1px solid;
    border-radius: 9px;
    padding: 8px;
    font-size: 15px;
    font-family: sans-serif;
}

.options{
    text-align: center;
}

#submit{
    padding-right: 20px;
    padding-right: 20px;
    padding: 5px;
    border: none;
}

#type{
    display: flex;
}

#type label input{
    width: fit-content;
    height: fit-content;
    -webkit-transform: scale(1.5);
    margin: 5px;
    margin-right: 10px;
}

#type label{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    display: flex;
    margin-right: 10px;

}

.options p{
    width: fit-content;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}


.list{
    text-align: center;
    margin: auto;
}

table, th, td{
    border: 1px solid;
    align-items: center;
    border-collapse: collapse;
    padding: 15px;
    margin: auto;
}

