*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lib";
    src: url(Assets/Fonts/LibraryRecordsRegular-qZW66.ttf);
}

#container{
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 90px;
    background-color: #BDB5D5;
    width: fit-content;
}

#inputs{
    display: flex;
}

 h3{
    text-align: center;
    height: fit-content;
    font-family: 'lib', sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.44);
}

label p{
    margin: 0;
    width: fit-content;
    display: flex;
    position: absolute;
}
label{
    margin: 30px;
}

.options input, .options select{
    display: block;
    margin: 40px;
    height: 40px;
    width: 400px;
    border: 1px solid;
    border-radius: 9px;
    padding: 8px;
    font-size: 15px;
}

.options{
    text-align: center;
}

#submit{
    padding-right: 20px;
    padding-right: 20px;
    padding: 5px;
    border: none;
}

#type{
    display: flex;
    height: fit-content;
}


#type input{
    width: fit-content;
    -webkit-transform: scale(1.5);
    height: 30px;
    width: fit-content;
    margin: 5px;
    height: 30px;
    margin: 0;
    margin-left: 50px;
}

/* table, th, td{
    border: solid 1px ;
} */