*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lib";
    src: url(Assets/Fonts/Uni\ Sans\ Thin\ Italic.otf);
}

main{
    background: url(assets/alfons-morales-YLSwjSy7stw-unsplash.jpg) no-repeat;
}

#container{
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 60px;
    background-color: #dcbe87;
    width: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inputs{
    display: flex;
}

#inputs p{
    font-weight: bold;    
}

 h3{
    text-align: center;
    height: fit-content;
    font-family: "lib", sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.44);
}

label p{
    margin: 0;
    width: fit-content;
    display: flex;
    /* position: absolute; */
}
label{
    margin-right: 30px;
}

#input::after{
    content: icon"fa-light fa-calendar-days";
}

.options input, .options select{
    display: block;
    margin-top: 40px;
    margin-right: 150px;
    margin-bottom: 20px;
    height: 40px;
    width: 400px;
    border: 1px solid;
    border-radius: 9px;
    padding: 8px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.options input:focus, .options select:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.44);
}

.options{
    text-align: center;
}

#submit{
    padding-right: 20px;
    padding-right: 20px;
    padding: 5px;
    border: none;
    background-color: #fff;
}

#submit:hover{
    background-color: rgb(128, 128, 128);
    opacity: 50%;
    color: #fff;

}

.types:focus{
    color: #000;
}


#type{
    display: flex;
}

#type label input{
    width: fit-content;
    height: fit-content;
    -webkit-transform: scale(1.5);
    margin: 5px;
    margin-right: 10px;
}

#type label{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    display: flex;
    margin-right: 10px;

}

.options p{
    width: fit-content;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}


.list{
    border: solid #dcbe87 1px;
    background-color: #dcbe87;
    text-align: center;
    margin: auto;
    border-radius: ;
    width: 90%;
    height: 500px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


table{
    width: 100%;
}

td.title, td.author{
    width: 25%;
}

table th{
    border-collapse: collapse;
    padding: 15px;
    margin: auto;
    font-weight: 500;
    background-color: #a087dc;
}

table tr{
    background-color: white;
}

tr:nth-child(even){
    background-color: rgb(186, 184, 184);
}


.fa-trash-can{
    color:red;
}

.fa-check{
    color: #4BB543;
}

